doctype html
html(lang="ar", dir="rtl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/bootstrap4.min.css")
        link(rel="stylesheet", href="../css/style.css")
        link(rel="stylesheet", href="../css/media.css")
        link(rel="shortcut icon", href="../images/logo.png " type="image/gif" )
        title  OX platform | OX منصة  
    body 
        section(class="login-new scrollbar" style="display: block;    ")
            <div class="rg-back" onclick=""></div>
            div(class="login-scren  width-lower"  style=" left:0    ")
                .container 

                    div(class="lowrs-two d-block")
                        div(class="title-login")
                            h6 الشروط والأحكام
                        div(class="body-lowy danger-color")
                            p تطبق شروط الاستخدام هذه على كل استخدامات موقعنا الإلكتروني: OX (المشار إليه بعبارة “الموقع”).
                            p هذا هو الموقع الإلكتروني للمؤسسة العليا للمناطق الاقتصادية المتخصصة (المشار إليها بعبارة “ زونز كورب”). تشير عبارة “ زونز كورب” أو “نحن” أو “أننا” أو “لنا” إلى مؤسسة زونز كورب وتراعى كافة التعبيرات المؤدية إلى ذلك. بينما “أنت” أو “لك” أو “لكم” إلى الشخص (أو الأشخاص) الذي يستخدم هذا الموقع وتراعى كافية التعبيرات المؤدية إلى ذلك. وأنت، بتصفحك هذا الموقع، توافق على الالتزام بالشروط والأحكام المعرب عنها في بيان شروط الاستخدام. يرجى قراءة الشروط والأحكام بعناية وإن كنت لا توافق على أي جزء من هذه الشروط والأحكام فلا تستخدم هذا الموقع.
                            p توفر زونز كورب موقعها الخاص لك لتزويدك بمعلومات عامة حول أعمالها وخدماتها.
                            p إذا قمت باستخدام أي ارتباطات على الموقع من أجل زيارة أي موقع أو مواقع أخرى فإن تصفحك لتلك المواقع وأي معاملات تتنجزها من خلالها سيكون مرهوناً بشروط وأحكام منفصلة متاحة على تلك المواقع.
                            p نحن نحتفظ بحقنا في إيقاف أو إنهاء تصفحك أو استخدامك للموقع في أي وقت، حسب تقديرنا الخاص، إذا قمت بخرق أي من شروط الاستخدام.
                            h5 الوصول إلى الموقع
                            p نحن لا نقدم أي تعهدات أو ضمانات بأن المعلومات المتوفرة على هذا الموقع ستكون دقيقة كلياً أو كاملة.
                            p يجوز لنا تحديث الموقع من وقت لآخر، وربما نغير المتحتوى في أي وقت. وإن اقتضت الضرورة فربما نوقف الدخول إلى الموقع، أو إغلاقه لأجل غير مسمى. ربما تكون أي من المواد المتوفرة على الموقع قديمة في أي وقت محدد، ولسنا خاضعين لأي تعهد يلزمنا بتحديث هذه المواد.
                            p التعليقات والمواد المنشورة على الموقع ليست معلومات معدة لنصح وتوجيه العميل لذا لا يجب الاعتماد عليها. وبناءً على ذلك، نخلي مسؤوليتنا بشكل كامل عن أي مجازفة ناتجة عن الوثوق بهذه المواد من قبلك أو من قبل أي شخص قد يبلغ عن أي من محتوياتها.
    