doctype html
html(lang="en", dir="ltr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/bootstrap4.min.css")
        link(rel="stylesheet", href="../../css/style.css")
        link(rel="stylesheet", href="../../css/media.css")
        link(rel="stylesheet", href="../../css/ltr.css")
        link(rel="shortcut icon", href="../../images/logo.png " type="image/gif" )
        title  OX platform | OX منصة  
    body 
        section(class="login-new scrollbar" style="display: block;")
            <div class="rg-back" onclick=""></div>
            div(class="login-scren  width-lower"  style=" right:0; left:0 ")
                .container 

                    div(class="lowrs-two d-block")
                        div(class="title-login")
                            h6 Terms and Conditions
                            <i class="fas fa-times" onclick="hideMenwleft()"></i>
                        div(class="body-lowy danger-color")
                            p These terms of use apply to all uses of our website: OX (referred to as “the site”).
                            p This is the website of the Higher Corporation for Specialized Economic Zones (“Zones Corp”). The term "Zones Corp" or "we" or "we" or "our" refers to Zones Corp. and all expressions leading to this are taken into consideration. While “you” or “yours” or “yours” refers to the person (or persons) who uses this site and sufficient expressions leading to that are taken into consideration. You, by browsing this website, agree to be bound by the terms and conditions expressed in the statement of terms of use. Please read the terms and conditions carefully and if you do not agree to any part of these terms and conditions, do not use this site.
                            p Zone Corp provides its own website for you to provide you with general information about its business and services.
                            p If you use any links on the site in order to visit any site or other sites, your browsing of those sites and any transactions you perform through them will be subject to separate terms and conditions available on those sites.
                            p We reserve the right to stop or terminate your browsing or use of the website at any time, at our sole discretion, if you violate any of the terms of use.
                            h5 Access to the site
                            p We do not make any representations or warranties that the information provided on this website will be completely accurate or complete.
                            p We may update the site from time to time, and we may change the content at any time. If necessary, we may suspend access to the site, or close it indefinitely. Any of the materials available on the site may be out of date at any specific time, and we are not subject to any obligation to update these materials.
                            p Comments and materials published on the site are not information intended to advise and guide the customer, so they should not be relied upon. Accordingly, we completely disclaim any risk arising from trust in this material by you or by anyone who may report any of its contents.